@model SAMS.Models.Module

@{
    ViewBag.Title = "Create";
}

<h3>Module Create</h3>

@*<style>
        .custom-form-control{
            width: 50%;
        }
    </style>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

      
        @Html.ValidationSummary(true)

        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Code)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Credit, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Credit, new { @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Credit)

            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Level, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Level, new { @class = "form-control custom-form-control" })
                @Html.ValidationMessageFor(model => model.Level)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label" })
                @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control custom-form-control" })
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.SemesterId, new { @class = "control-label" })
                @Html.DropDownList("SemesterId", null, htmlAttributes: new { @class = "form-control custom-form-control" })
                @Html.ValidationMessageFor(model => model.SemesterId)
            </div>
       
        </div>

        <div class="form-group col-md-12">
            <div class=" col-md-offset-2 col-md-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div id="divMessage" style="line-height:5px" class=" col-md-8">
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {

            var message = '@ViewBag.Message';
            if (!(message == null || message == '' || message == undefined)) {
                $("#divMessage").addClass('alert alert-danger');
                $(".alert").fadeOut(3000);
            }

        });
</script>
}
